{
 
  "plugins": [
    "transform-object-rest-spread"
  ],
  "env": {
    "production": {
      "presets": [
        ["env", { "modules": false }],
        "react"
      ]
    },
    "test": {
      "presets": ["env", "react"]
    }
  }
}
